/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto',sans-serif;
    box-sizing:border-box;
}
body{
    background-color:#ebebeb;
    font-family: 'Roboto', sans-serif;
}



/*HEADER*/
.main-header{
    background-color: #EAC926;
    padding:20px;
    position:fixed;
    top:0;
    z-index:100;
}
.main-header-logo-lupa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    width: 48%;
}
.buscador{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 6%;
}
.input-buscador{
    border:none;
    border-radius: 5px;
    padding-left: 5px;
}
.boton-buscador{
    border: none;
    margin-left: -15px;
    background-color: #fff;
    border-radius: 5px;
}
.copy-header{
    margin-top:4%;
    text-align:center;
    font-weight: 400;
    font-size: 1rem;
}
.burguer-menu{
    background-color: #1259c3;
    display: block;
    border-radius: 8px;
    padding: 15px 0;
    max-width: 50px;
    margin: 0 auto;
    margin-top:15px;
    color:white;
    text-align: center;
    font-size: 18px;
}
.main-navbar{
    display: none;
}
.main-navbar ul {
    list-style: none;
    margin:0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
header i{
    margin: 8px;
}
.main-navbar i{
    color: #1259c3;
}


/*FORMULARIO*/
.create-form{
    padding: 20px 15px;
    border-top: 1px solid #ebebeb;
    background-color:white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 20px;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.control-formulario{
    align-self: center;
}
.control{
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.div-boton{
    align-self: center;
}
.boton-formulario{
    background-color:#1259c3;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}
.boton-formulario a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.titulo-principal{
    margin-bottom: 15px;
    color:#1259c3;
    text-align: center;
}

/*FOOTER*/
footer{
    background-color:white;
    margin-top: 30px;
}
.cuerpos-texto{
    font-size: 12px;
    text-align: center;
}
.iconos-pie-pagina{
    font-size: 2em;
    color: #1259c3;
    margin: 0 auto;
    margin-bottom: 10px;
}
.section-iconos-pie-pagina{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
}

/*MEDIA QUERIES*/

/*TABLET*/
@media(min-width:451px){
    /*HEADER*/
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width:350px;
        text-align: right;
    }
    .burguer-menu{
        display: none;
    }
    .main-navbar{
        display:flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        padding: 0 5px;
    }

    /*FORMULARIO*/
    .create-form{
        margin:190px 100px;
    }
    .control{
        width: 240px;
    }
}

/*LAPTOP*/
@media(min-width:769px){
    /*HEADER*/
    .main-header{
        width: 100%;
        padding-bottom: 0;
    }
    .logo{
        width: 350px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
        margin-top: 30px;
    }
    .copy-header{
        max-width:none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .main-navbar{
        margin-top: 25px;
    }
    .main-navbar li{
        margin: 10px;
    }
    .main-navbar a{
        font-size: 19px;
        margin-top: 30px;
    }
    .input-buscador{
        width: 350px;
        height: 50px;
        margin-left: 30px;
    }
    .boton-buscador{
        height: 50px;
    }
    .buscador{
        margin-right: 0;
        margin-top: 20px;
    }

     /*FORMULARIO*/
     .create-form{
        margin:300px 200px;
    }
    .control{
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .boton-formulario{
        margin: 0 auto;
        width: 100px;
        height: 40px;
    }
    .boton-formulario:hover{
        background-color: #0022AA;
    }

    /*FOOTER*/
    .footer-centrado{
        display: flex;
        padding: 20px 0;
    }
    .iconos-pie-pagina:hover{
        color:#EAC926;
    }
}